# Python
backend/__pycache__/
backend/*.py[cod]
backend/env/
backend/.env
backend/chess.db  # If you have a database file

# Node
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.DS_Store

# General
*.log
*.sqlite3
.DS_Store

# Environment Variables
.env
tests/__pycache__/
